*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main */
.container{
    display: flex;
}
.side-bar{
    min-width:229px;
    border: 2px solid blue;
    min-height: calc(100vh - 91px);
    display: flex;
    flex-direction: column;
    background-color: black;
}
.main-content{
    border: 2px solid pink;
    flex-grow: 1;
    background-color: rgb(20, 25, 34
    );
}
/* footer */
footer{
    width: 100vw;
    height: 91px;
    border: 2px solid red;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
}
.debug{
    min-width: 229px;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
}

.song{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}
.song-cover{
    height: 42px;
    width: 42px;
    vertical-align: baseline;
}
.song-info{
    display: flex;
    flex-direction: column;
    
}
.title{
    color: rgb(255, 255, 255);
}
.info{
    color:rgb(119, 119, 119) ;
}
.icon{
    display: flex;
    color: rgb(119, 119, 119);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.time-line{
    min-width: 527px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;

}
.song-bar{
    width: 428px;
    height: 6px;
    border: solid 1px;
    background-color: rgb(119, 119, 119);
    gap: 15px;
    border-radius: 28px;
}
.volume-bar{
    width: 118px ;
    height: 6px;
    border: solid 1px;
    background-color: rgb(119, 119, 119);
    border-radius: 28px;
    margin-right: 25px;
    
}
