*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main */
.container{
    display: flex;
}
.side-bar{
    min-width:229px;
    min-height: calc(100vh - 91px);
    display: flex;
    flex-direction: column;
    background-color: black;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    height: 89px;

}
.spotify-logo--text{
    height: 43px;
    width: 130px;
}
.first-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    height: 129px;

}
.first-menu li{
    display: flex;
    gap: 15px;
    padding: 5px;
}
.txt{
    color: rgb(119, 119, 119);
    font-size: 20px;
}
.first{
    font-size: 20px;
}
.second-menu{
    width: 229px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 15px;
}
    
.title{
    color: white;
    margin-left: 0;
}
.plus{
    color: black;
    background-color: rgb(119, 119, 119);
    padding: 10px;
}
.playlist-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.playlist-list{
    color: rgb(119, 119, 119);
    flex-grow: 1;
    
}
.playlist-list li{
    padding-top: 20px;
}
.playlist-menu li{
    color: white;
}
ul{
    list-style: none;
}
.third-menu{
    margin-left: 15px;
}
.dowload{
    display: flex;
    color: rgb(119, 119, 119);
    gap: 10px;
    margin-bottom: 15px;
}
.dowload p{
    color: rgb(119, 119, 119); 
}
.profile{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    align-items: center;
}
.profile img{
    width: 25px;
    height: 25px;
    background-color: rgb(119, 119, 119);
    border-radius: 9999px;
}
.profile h3{
    color: white;    
}



/* .main-content */
.main-content{
    flex-grow: 1;
    background-color: rgb(20, 25, 34);
    /* overflow-y: scroll; */
}
.upgrade{
    width: calc(100vw - 229px);
    height: 89px;
    background-color: black;
}

button{
    background-color: black ;
    border:  2px solid rgb(119, 119, 119);
    padding: 15px 25px;
    color: white;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 28px;
    text-align: center;
    font-size: 15px;
}
/* nav-bar */

.nav-bar li{
    list-style: none;
    color: rgb(119, 119, 119);
}
.nav-bar-list{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


/* footer */
footer{
    width: 100vw;
    height: 91px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
}
.debug{
    min-width: 229px;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
}

.song{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}
.song-cover{
    height: 42px;
    width: 42px;
    vertical-align: baseline;
}
.song-info{
    display: flex;
    flex-direction: column;   
}
.title{
    color: rgb(255, 255, 255);
}
.info{
    color:rgb(119, 119, 119) ;
}
.icon{
    display: flex;
    color: rgb(119, 119, 119);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.time-line{
    min-width: 527px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.song-bar{
    width: 428px;
    height: 6px;
    border: solid 1px;
    background-color: rgb(119, 119, 119);
    gap: 15px;
    border-radius: 28px;
}
.volume-bar{
    width: 118px ;
    height: 6px;
    border: solid 1px;
    background-color: rgb(119, 119, 119);
    border-radius: 28px;
    margin-right: 25px;   
}
.time-line .icon{
    font-size: 20px;
    gap: 20px;
}
/* hover */
i:hover{
    color: white;
}
.txt:hover{
    color: white;
}


